<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Image of the Day</title>
  </head>
  <body>
    <!-- TODO: Header -->
    <%- include('templates/header') %>
    
    <!-- TODO: Body -->
    <%- include('templates/body') %>

    <!-- TODO: Footer -->
    <%- include('templates/footer') %>
     
    <h1>Hello World</h1>
  </body>
</html>